{% extends 'base.html' %}
{% load bootstrap4 %}
{% load socialaccount %}

{% block body %}
    {% if request.resolver_match.url_name == 'signup' %}
        <h1>Signup</h1>
    {% elif request.resolver_match.url_name == 'login' %}    
        <h1>Login</h1>
    {% else %}
        <h1>프로필 수정</h1>
    {% endif %}
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" />
    </form>
    {% if request.resolver_match.url_name == 'login' %}
        <br>
        <a href="{% provider_login_url 'kakao' method='oauth2' %}"><img src="http://hanjocollection.com/img/login/k.jpg" width="200"/></a>
    {% endif %}

{% endblock %}